.headline {
  display: flex;
  align-items: end;
  &__icon {
    margin: 0 28px 0 0;
  }
  &__title {
    display: flex;
    align-items: end;
    font-weight: 400;
    font-size: 83px;
    text-transform: uppercase;
    color: #0e2129;
    margin: 0 133px 0 0;
    span {
      font-family: 'Celestina';
      font-size: 109px;
      color: #508696;
      text-transform: none;
    }
  }
}