.learn {
  padding: 130px 0 0 0;
  &__headline {
    margin: 0 0 70px 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px 0;
    gap: 79px;
  }
  &__item {
    max-width: 275px;
    :first-child {
      margin-bottom: 5px;
    }
  }
}