a.button {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  transition: background-color 0.35s ease, color 0.35s ease;

  &__header {
    color: #0e2129;
    width: 282px;
    height: 42px;
    border-radius: 56px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #0e2129;
    background-color: inherit;
    
    &:hover {
      background-color: #0e2129;
      color: #fff;
    }
  }

  &__main {
    color: #FFFFFF;
    width: 390px;
    height: 52px;
    line-height: 52px;
    border-radius: 56px;
    border: 3px solid #B0D283;
    background: #86AD47;
    font-weight: 700;
    font-size: 24px;

    &:hover {
      background-color: #93bccc;
      border: 3px solid #5992a8;
      color: #0e2129;
    }
  }

  &__registration {
    color: #f5f5f5;
    width: 602px;
    height: 81px;
    border-radius: 87px;
    background-color: #93bccc;
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 1.48px;

    &:hover {
      background-color: #d5e5c0;
      color: #0e2129;
    }
  }
  &__buy_green {
  color: #FFFFFF;
  width: 358px;
  background-color: #86AD47;
  padding: 7px 33px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.48px;
  }
  &__buy_blue {
  color: #FFFFFF;
  width: 358px;
  background-color: #508696;
  padding: 7px 33px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.48px;
  }
}

@media (max-width: 1200px) {
  a.button {
    &__main {
      font-size: 21px;
    }
  }
}

@media (max-width: 992px) {
  a.button {
    &__header {
      width: 65%;
      font-weight: 700;
      font-size: 18px;
    }
    &__main {
      width: 315px;
    }
  }
}

@media (max-width: 768px) {
  a.button {
    &__header {
      height: 35px;
      font-size: 18px;
    }
    &__main {
      font-size: 20px;
    }
    &__registration {
      width: 80%;
      height: 45px;
      font-size: 25px;
    }
  }
}

@media (max-width: 576px) {
  a.button {
    &__header {
      font-size: 16px;
    }
    &__main {
      width: 70%;
      height: 40px;
      font-size: 16px;
    }
    &__registration {
      font-size: 18px;
    }
    &__buy_green, &__buy_blue {
      width: 100%;
      padding: 10px 25px;
      font-size: 18px;
    }
  }
}