.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  align-items: end;
  gap: 41px;
  &__item {
    a {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.54px;
      color: #0e2129;
    }
  }
}
