
.button {
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  transition: background-color 0.35s ease, color 0.35s ease;

  &__footer {
    color: #0e2129;
    width: 284px;
    height: 53px;
    line-height: 53px;
    border-radius: 56px;
    background-color: #D5E5C0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.96px;

    &:hover {
      background-color: #93bccc;
      color: #0e2129;
    }
  }
}

@media (max-width: 1200px) {
  .button {
    &__main {
      font-size: 21px;
    }
  }
}

@media (max-width: 992px) {
  .button {
    &__header {
      width: 65%;
      font-weight: 700;
      font-size: 18px;
    }
    &__main {
      width: 315px;
    }
  }
}


@media (max-width: 576px) {
  .button {
    &__footer {
      width: 70%;
      height: 40px;
      font-size: 20px;
    }
  }

}