.list {
  display: flex;
  align-items: start;
  > img {
    margin: 0 35px 0 0;
  }
  &__title {
    min-width: 120px;
    color: #b0d283;
    font-weight: 700;
    margin: 0 5px 0 0;
  }
  &__text {
    color: #0e2129;
    font-weight: 400;
    &_s {
      font-size: 21px;
    }
    &_m {
      font-size: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .list {
    > img {
      margin: 0 20px 0 0;
    }
    &__text {
      flex: 0 0 70%;
      &_s {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 992px) {
  .list {
    &__text {
      max-width: 495px;
      &_m {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 768px) {
  .list {
    &__text {
      max-width: unset;
    }
    img {
      margin: 0 20px 0 0;
    }
  }
}