.listWrapper {
  display: flex;
}

.title {
  color: #b0d283;
  font-weight: 700;
  font-size: 25px;
  padding-left: 35px;
}

.text {
  color: #0e2129;
  font-weight: 400;
  font-size: 25px;
  padding-left: 5px;
}

.onlyText {
  color: #0e2129;
  font-weight: 400;
  font-size: 25px;
  padding-left: 35px;
}