.autors {
  padding: 54px 0 0 0;
  &__headline {
    margin: 0 0 54px 0;
  }
  &__descriptions {
    display: flex;
    flex-direction: column;
  }
  &__one {
    display: flex;
    justify-content: space-between;
    margin: 0 0 83px 0;
  }
  &__two {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 603px;
  }
  &__title {
    width: 432px;
    letter-spacing: 3.64px;
  }
  &__social_blue {
    display: flex;
    gap: 38px;
    margin: 0 0 9px 0;
  }
  &__social_green {
    display: flex;
    gap: 38px;
    margin: 0 0 23px 0;
  }
  &__photo_1 {
    position: relative;
    img {
      position: absolute;
      top: -141px;
      right: 15px;
      width: 603px;
      height: 420px;
      object-fit: contain;
    }
  }
  &__photo_2 {
    position: relative;
    img {
      position: absolute;
      top: -57px;
      left: -100px;
      width: 703px;
      height: 422px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1200px) {
  //.autors {
  //  &__social_green {
  //    margin: 0 0 44px 0;
  //    padding: 0 0 0 60px;
  //  }
  //}
  .autors {
    padding: 40px 0 0 0;
    &__headline {
      margin: 0 0 80px 0;
    }
    &__one, &__two {
      flex-direction: column;
      align-items: center;
    }
    &__one {
      margin: 0 0 40px 0;
    }
    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: unset;
      order: 1;
    }
    &__photo_1, &__photo_2 {
      img {
        position: unset;
        width: 100%;
      }
    }
    &__photo_2 {
      order: 1;
    }
    &__title {
      width: 100%;
      text-align: center;
    }
    &__social_green {
      padding: 0;
      margin: 0 0 9px 0;
    }
  }
}

@media (max-width: 992px) {
  .autors {
    &__photo_1 {
      img {
        top: -120px;
        width: 500px;
      }
    }
    &__photo_2 {
      img {
        top: -43px;
        left: -75px;
        width: 560px;

      }
    }
    &__social_green {
      margin: 0 0 44px 0;
      padding: 0 0 0 60px;
    }
    &__info {
      max-width: 515px;
    }
  }
}

@media (max-width: 768px) {
  .autors {
    padding: 40px 0 0 0;
    &__headline {
      margin: 0 0 55px 0;
    }
    &__one, &__two {
      flex-direction: column;
      align-items: center;
    }
    &__one {
      margin: 0 0 40px 0;
    }
    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: unset;
    }
    &__photo_1, &__photo_2 {
      img {
        position: unset;
        width: 100%;
      }
    }
    &__photo_2 {
      order: 1;
    }
    &__title {
      width: 100%;
      text-align: center;
    }
    &__social_green {
      padding: 0;
      margin: 0 0 9px 0;
    }
  }
}