.size {
  &__xs {
    font-size: 30px;
  }
  &__s {
    font-size: 35px;
  }
  &__m {
    font-size: 37px;
  }
  &__l {
    font-size: 39px;
  }
  &__xl {
    font-size: 42px;
  }
  &__xxl {
    font-size: 60px;
  }
}
