.course {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #d5e5c0;
  border-top-right-radius: 120px;
  padding: 50px 0 20px 0;
  &::before {
    content: '';
    position: absolute;
    background-color: #d5e5c0;
    top: 0;
    width: 50vw;
    bottom: 0;
    left: -50vw;
  }
  &__descriptions {
    :last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    max-width: 551px;
    line-height: 47px;
    margin-bottom: 40px;
    letter-spacing: 2.27px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 68px;
  }
  &__picture {
    img {
      position: absolute;
      top: -15px;
      right: 35px;
      width: 424px;
      height: 393px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1200px) {
  .course {
    padding: 30px 0 20px 0;
    &__list {
      margin: 0 0 35px 0;
    }
    &__picture {
      top: 0;
      left: 0;
      width: 411px;
      height: unset;
    }
  }
}

@media (max-width: 992px) {
  .course {
    position: unset;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0;
    &__picture {
      margin: 0 0 15px 0;
      img {
        position: unset;
      }
    }
    &__title {
      max-width: 100%;
      text-align: center;
      margin: 0 0 15px 0;
    }
  }
}

@media (max-width: 768px) {
  .course {
    padding: 20px 0;
    &__descriptions {
      flex: 0 0 60%;
    }
    &__title, &__list{
      margin: 0 0 20px 0;
      h3 {
        font-size: 23px;
        letter-spacing: normal;
        line-height: normal;
      }
    }
    &__list {
      margin: 0 0 20px 0;
      gap: 25px;
      p {
        font-size: 20px;
        width: unset;
      }
    }
    &__picture {
      width: unset;
      display: flex;
      justify-content: center;
      img {
        width: 60%;
        height: unset;
      }
    }
  }
}

@media (max-width: 576px) {
  .course {
    &__title {
      margin: 0 0 15px 0;
      h3 {
        font-size: 18px;
      }
    }
    &__list {
      margin: 0 0 15px 0;
      gap: 15px;
      p {
        font-size: 16px;
      }
    }
  }
}