.details {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;
  &__headline {
    margin: 0 0 55px 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 21px 0;
  }
  &__descriptions {
    max-width: 713px;
    :last-child {
      margin: 0;
    }
  }
  &__title {
    letter-spacing: 2.34px;
    margin: 0 0 47px 0;
  }
  &__list {
  }
  &__picture {
    width: 498px;
    height: 430px;
    > img  {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 36px;
  }
}