.details {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;
  &__headline {
    margin: 0 0 55px 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 21px 0;
  }
  &__title {
    letter-spacing: 2.34px;
    margin: 0 0 47px 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 684px;
  }
  &__picture {
    > img  {
      width: 497px;
      height: 445px;
      object-fit: cover;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    gap: 36px;
  }
}

@media (max-width: 1200px) {
  .details {
    &__headline {
      margin: 0 0 35px 0;
    }
    &__title {
      text-align: center;
      margin: 0 0 30px 0;
    }
    &__list {
      gap: 17px;
      max-width: unset;
    }
    &__picture {
      display: flex;
      justify-content: center;
      width: unset;
      height: unset;
      img {
        width: 90%;
      }
    }
    &__info {
      flex-direction: column-reverse;
      align-items: center;
      gap: 15px;
    }
  }
}

@media (max-width: 992px) {
  .details {
    padding: 40px 0 0 0;
    &__title {
      margin: 0 0 30px 0;
    }
    &__list {
      gap: 17px;
    }
  }
}

@media (max-width: 768px) {
  .details {
    padding: 20px 0 0 0;
    &__headline {
      margin: 0 0 20px 0;
    }
    &__info {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__title {
      text-align: center;
      margin: 0 0 15px 0;
    }
    &__picture {
      img {
        width: 90%;
        height: unset;
      }
    }
  }
}

@media (max-width: 576px) {
  .details {
    &__headline {
      margin: 0 0 10px 0;
    }
  }
}