.size {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #508696;
  > img {
    max-width: 100%;
    height: auto;
  }
  &__s {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: solid 2px #b0d283;
  }
  &__m {
    width: 71px;
    height: 71px;
    &_black {
      border: 3px solid #0E2129;
    }
  }
  &__l {
    width: 86px;
    height: 86px;
  }
}