.size {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #508696;
  > img {
    max-width: 100%;
    height: auto;
  }
  &__s {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: solid 2px #b0d283;
  }
  &__m {
    width: 71px;
    height: 71px;
    &_black {
      border: 3px solid #0E2129;
    }
  }
  &__l {
    width: 86px;
    height: 86px;
  }
}

@media (max-width: 768px) {
  .size {
    border: 2px solid #508696;
    &__m {
      width: 50px;
      height: 50px;
      padding: 10px;
      &_black {
        border: 2px solid #0E2129;
      }
    }
    &__l {
      width: 60px;
      height: 60px;
      padding: 10px;
    }
  }
}

@media (max-width: 576px) {
  .size {
    &__s {
      width: 44px;
      height: 44px;
      padding: 10px;
    }
    &__m {
      width: 40px;
      height: 40px;
    }
    &__l {
      width: 45px;
      height: 45px;
    }
  }
}