.buy {
  background: rgba(147, 188, 204, 0.29);
  border-radius: 30px;
  padding: 25px 15px;
  flex: 1;

  &__green {
    background-color: #D5E5C0;
  }
  &__title {
    padding-left: 60px;
    margin-bottom: 50px;
  }

  &__descr {
    font-size: 18px;
    padding-left: 60px;
    margin-bottom: 45px;
    p {
      margin-bottom: 30px;
    }
  }
  &__date {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .buy {
    width: 450px;
    flex: inherit;
  }
}

@media (max-width: 576px) {
  .buy {
    width: 90%;
    height: 100%;
    &__title {
      padding: unset;
      text-align: center;
      margin-bottom: 25px;
    }
    &__descr {
      padding: unset;
      text-align: center;
      margin-bottom: 10px;
      p {
        margin-bottom: 10px;
      }
    }
    &__date {
      svg {
        width: 35px;
        height: 35px;
      }
    }
  }
}