.registration {
  display: flex;
  flex-direction: column;
  padding: 75px 0 0 0;
  &__headline {
    margin: 0 0 80px 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &__description {
    max-width: 603px;
  }
  &__subtitle {
    font-size: 38px;
    font-weight: 500;
    color: #0e2129;
    line-height: 46px;
    margin: 0 0 35px 0;
  }
  &__title {
    margin: 0 0 40px 0;
    letter-spacing: 2.15px;
  }
  &__button {
    margin: 0 0 37px 0;
  }
  &__date {
    display: flex;
    align-items: center;
    column-gap: 35px;
  }
  &__picture {
    position: relative;
    width: 627px;
    height: 440px;
    > img  {
      position: absolute;
      top: -60px;
      left: 0;
      width: 635px;
      height: 500px;
      object-fit: cover;
    }
  }
}

.registrationHeadline {
  > h2 {
    span + span {
      margin-right: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .registration {
    padding: 20px 0 0 0;
    &__headline {
      min-height: 190px;
      margin: 0 0 35px 0;
    }
    &__subtitle {
      font-size: 30px;
      line-height: 38px;
    }
    &__info {
      flex-direction: column;
      align-self: center;
      gap: 20px;
    }
    &__description {
      order: 1;
    }
    &__picture {
      height: 450px;
    }
    &__subtitle {
      text-align: center;
    }
    &__date {
      justify-content: center;
    }
    &__button, &__title, &__subtitle {
      margin: 0 0 20px 0;
    }
  }

  .registrationHeadline {
    > h2 {
      span + span {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 992px) {
  .registration {
    &__subtitle {
      font-size: 30px;
      line-height: 38px;
    }
    &__info {
      flex-direction: column;
      align-self: center;
      gap: 20px;
    }
    &__description {
      order: 1;
    }
    &__picture {
      height: 450px;
    }
    &__subtitle {
      text-align: center;
    }
    &__date {
      justify-content: center;
    }
    &__button, &__title, &__subtitle {
      margin: 0 0 20px 0;
    }
  }

  .registrationHeadline {
    > h2 {
      span + span {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .registration {
    padding: 20px 0 0 0;
    &__headline {
      min-height: 130px;
      margin: 0 0 25px 0;
    }
    &__subtitle {
      font-size: 24px;
      line-height: normal;
    }
    &__picture {
      display: flex;
      justify-content: center;
      position: unset;
      width: unset;
      height: unset;
      img {
        position: unset;
        width: 90%;
        height: unset;
      }
    }
    &__description {
      width: 100%;
      max-width: unset;
    }
    &__button {
      display: flex;
      justify-content: center;
    }
  }

  .registrationHeadline {
    > h2 {
      span + span {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .registration {
    padding: 0;
    &__headline {
      min-height: 110px;
      margin: 0;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__date {
      column-gap: 10px;
    }
  }

  .registrationHeadline {
    > h2 {
      span + span {
        margin-right: 15px;
      }
    }
  }
}