.header {
  display: flex;
  flex-direction: column;
  padding: 89px 0 65px;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 6px;
  }
  &__line {
    width: 100%;
    height: 1.2px;
    background-color: #508696;
  }
}


