.headline {
  height: 78px;
  display: flex;
  &__icon {
    margin: 0 28px 0 0;
  }
  &__title {
    display: flex;
    align-items: end;
    font-weight: 400;
    font-size: 83px;
    text-transform: uppercase;
    color: #0e2129;
    span {
      font-family: 'Celestina';
      font-size: 109px;
      color: #508696;
      text-transform: none;
      z-index: 1;
    }
  }
}

@media (max-width: 1200px) {
  .headline {
    &__title {
      flex-wrap: wrap;
    }
    &__icon {
      padding: 30px 0 0 0;
    }
  }
}

@media (max-width: 992px) {
  .headline {
    &__title {
      font-size: 70px;
      span {
        font-size: 95px;
      }
    }
    &__icon {
      padding: 25px 0 0 0;
    }
  }
}

@media (max-width: 768px) {
  .headline {
    &__title {
      font-size: 50px;
      flex-wrap: wrap;
      span {
        font-size: 70px;
      }
    }
    &__icon {
      padding: 28px 0 0 0;
      margin: 0 15px 0 0;
    }
  }
}

@media (max-width: 576px) {
  .headline {
    height: unset;
    &__title {
      font-size: 32px;
      span {
        font-size: 50px;
      }
    } 
  }
}