.main {
  display: flex;
  flex-direction: column;
  padding: 0 0 68px 0;
  &__header {
    height: 587px;
    display: flex;
    justify-content: space-between;
    gap: 23px;
    margin-bottom: 28px;
  }
  &__logo {
    position: relative;
    flex: 0 0 602px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__photo {
    flex: 0 0 600px;
    > img  {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__subtitle {
    position: absolute;
    bottom: 29px;
    left: 158px;
    font-size: 37.8px;
    font-weight: 500;
    color: #0e2129;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__description {
    width: 324px;
    font-size: 25px;
    font-weight: 600;
    color: #508696;
    line-height: 30px;
  }
  &__start {
    display: flex;
    align-items: center;
  }
  &__date {
    padding-left: 45px;
    h4, span {
      color: #0e2129;
      font-size: 25px;
      font-weight: 600;
    }
    span {
      padding-top: 13px;
      color: #508696;
    }
  }
}