@import-normalize;

.App {
  text-align: center;
}

.icon-wrap {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social-icon-wrap {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.text {
  font-family: 'Celestina';
  font-weight: 400;
  font-size: 109px;
  color: #508696;
}