.about {
  display: flex;
  flex-direction: column;
  padding: 0 0 35px 0;
  &__header {
    display: flex;
    align-items: end;
    margin-bottom: 65px;
  }
  &__headline {
    margin-right: 133px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 284px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 1200px) {
  .about {
    &__headline {
      flex: 0 0 auto;
      margin: 0 85px 0 0;
    }
    &__info {
      gap: 15px;
    }
  }
}

@media (max-width: 992px) {
  .about {
    padding: 0 0 50px 0;
    &__info {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px 30px;
    }
    &__item {
      align-items: center;
      text-align: center;
    }
    &__header {
      align-items: start;
      flex-direction: column;
      gap: 60px;
      margin: 0 0 15px 0;
    }
    &__title {
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__header {
      gap: 30px;
    }
    &__headline {
      margin: 0;
    }
    &__item {
      width: 100%;
      row-gap: 5px;
    }
  }
}

@media (max-width: 576px) {
  .about {
    padding: 0 0 20px 0;
  }
}